.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.lost_programmer {
    margin: 1vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*width: 60%;*/
    height: 70vh;
    overflow: hidden;
}

.About {
    margin: auto;
    display: flex;
    max-width: 100%;
    min-width: 60%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
}

.greetings {
    color: #88ccca;
    padding: 0;
    margin-bottom: -1vh;
    font-size: 1.5rem;
    font-weight: 400;
}

.heading {
    padding: 0;
}

.description {
    text-align: justify;
    margin-left: 1vh;
    /*width: 80%;*/
}

h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: white;
}

h2 {
font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: -1vh;
    margin-left: 1vh;
    padding: 0;
}

p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

