.projects-container {
    margin: 30vh auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.projects_greetings {
    color: #88ccca;
    width: 100%;
    margin: auto;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 400;
}