.experience_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.child_container {
    width: 60%;
    margin: 10vh auto;
    padding: 20px;
}

.experience-item {
    padding: 20px 0;
}

.job-title {
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
}

.company {
    margin: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 2.5rem;
}

.period {
    margin: 0;
    color: #999;
    font-size: 1rem;
}

.description {
    margin: 10px 0 0;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .experience-container {
        padding: 20px 10px;
    }

    .job-title {
        font-size: 1.2em;
    }

    .company {
        font-size: 1em;
    }
}